
<div class="container">

<div class="d-flex justify-content-center">


<div class="card   mt-5"  style="width: 20cm;" >
    <div class="card-header d-flex justify-content-center">
      <h2>Formulaire d'authentification</h2>
      
    </div>

    <div class="card-body">
      
        <form [formGroup]="form" >
            
            <div>
              <label for="email">Email:</label>
              <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'invalid': isInvalid('email') }">
              
              <div  class="mt-2" *ngIf="isInvalid('email')"  style="color: red;">
                <span *ngIf="form.get('email')?.hasError('required')">Email est requis.</span>
                <span  *ngIf="form.get('email')?.hasError('email')">Email invalide.</span>
              </div>
            
            </div>

            <div class="mt-3">
              <label for="password">Password:</label>
              <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'invalid': isInvalid('password') }" >
              <div class="mt-2"  *ngIf="isInvalid('password')" style="color: red;">
                <span  *ngIf="form.get('password')?.hasError('required')">Mot de passe est requis.</span>
                <span  *ngIf="form.get('password')?.hasError('minlength')">Le mot de passe doit avoir au moins 4 caractères.</span>
              </div>

            </div>
        
            <div class="card-footer text-center mt-5">
                <button class="btn btn-success " type="submit" [disabled]="!form.valid" (click)="submitForm(form.value)" >S'authentifier</button>
            </div>

           
          </form>


    </div>

  

  </div>


</div>


</div>